<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlottoBeats.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BlottoBeats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BlottoBeats.Client.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="expires" serializeAs="String">
                <value />
            </setting>
            <setting name="lastIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="maxSongs" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lightColor" serializeAs="String">
                <value>130, 130, 130</value>
            </setting>
            <setting name="medColor" serializeAs="String">
                <value>90, 90, 90</value>
            </setting>
            <setting name="darkColor" serializeAs="String">
                <value>50, 50, 50</value>
            </setting>
            <setting name="upvoteColor" serializeAs="String">
                <value>77, 125, 74</value>
            </setting>
            <setting name="downvoteColor" serializeAs="String">
                <value>107, 49, 50</value>
            </setting>
            <setting name="textColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="sliderColor" serializeAs="String">
                <value>75, 108, 124</value>
            </setting>
        </BlottoBeats.Client.Properties.Settings>
        <BlottoBeats.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="expires" serializeAs="String">
                <value />
            </setting>
            <setting name="lastIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="maxSongs" serializeAs="String">
                <value>50</value>
            </setting>
        </BlottoBeats.Properties.Settings>
    </userSettings>
</configuration>